html,body, #root{
  display: block;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-bg {
  position: absolute;
  z-index: -1;
  display: flex;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("./img/background-image-app.png");
  filter: blur(4px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}